---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/civicinfo/v2/representatives?address=631%20Folsom%20Street%20San%20Francisco,%20CA&key=AIzaSyCuFyDjIpvOTKqWmiFrETtgYSTzw0mtAv0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"QYIb6hT4IEibTNmpmkuDYCNGqvQ/FyPy4V9zwoZ7eQebGbCAt_bbwoM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "civicinfo#representativeInfoResponse",
         "normalizedInput": {
          "line1": "631 Folsom Street",
          "city": "San Francisco",
          "state": "CA",
          "zip": "94107"
         },
         "divisions": {
          "ocd-division/country:us": {
           "name": "United States",
           "officeIndices": [
            0,
            1
           ]
          },
          "ocd-division/country:us/state:ca": {
           "name": "California",
           "officeIndices": [
            2,
            4,
            5,
            16,
            17,
            18,
            19,
            20,
            21
           ]
          },
          "ocd-division/country:us/state:ca/cd:12": {
           "name": "California's 12th congressional district",
           "officeIndices": [
            3
           ]
          },
          "ocd-division/country:us/state:ca/county:san_francisco": {
           "name": "San Francisco County",
           "alsoKnownAs": [
            "ocd-division/country:us/state:ca/place:san_francisco"
           ],
           "officeIndices": [
            8,
            9,
            10,
            11,
            12,
            13,
            14
           ]
          },
          "ocd-division/country:us/state:ca/county:san_francisco/council_district:6": {
           "name": "San Francisco CA city-county council district 6",
           "officeIndices": [
            15
           ]
          },
          "ocd-division/country:us/state:ca/sldl:17": {
           "name": "California Assembly district 17",
           "officeIndices": [
            7
           ]
          },
          "ocd-division/country:us/state:ca/sldu:11": {
           "name": "California State Senate district 11",
           "officeIndices": [
            6
           ]
          }
         },
         "offices": [
          {
           "name": "President of the United States",
           "divisionId": "ocd-division/country:us",
           "levels": [
            "country"
           ],
           "roles": [
            "headOfState",
            "headOfGovernment"
           ],
           "officialIndices": [
            0
           ]
          },
          {
           "name": "Vice-President of the United States",
           "divisionId": "ocd-division/country:us",
           "levels": [
            "country"
           ],
           "roles": [
            "deputyHeadOfGovernment"
           ],
           "officialIndices": [
            1
           ]
          },
          {
           "name": "United States Senate",
           "divisionId": "ocd-division/country:us/state:ca",
           "lev[...]
[...]
